<div class="min-h-screen">
  <div class="p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-6">Especialistas</h2>

    <div *ngIf="isLoading" class="text-center text-gray-500">Cargando...</div>

    <table *ngIf="!isLoading" class="min-w-full bg-white border-2 border-gray-200 rounded-lg overflow-hidden">
      <thead class="bg-gray-100 text-gray-700 text-sm uppercase border-b-2 border-gray-200">
        <tr>
          <th class="px-4 py-3">Nombre</th>
          <th class="px-4 py-3">Especialidad</th>
          <th class="px-4 py-3">DNI</th>
          <th class="px-4 py-3">Email</th>
          <th class="px-4 py-3">Edad</th>
          <th class="px-4 py-3">Estado</th>
          <th class="px-4 py-3">Acciones</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        <tr *ngIf="!specialists.length">
          <td colspan="6" class="text-center py-4 text-gray-500">No hay especialistas registrados</td>
        <tr *ngFor="let s of specialists" class="text-center">
          <td class="px-4 py-3 whitespace-nowrap text-left">{{ s.user.first_name }} {{ s.user.last_name }}</td>
          <td class="px-4 py-3">
              <span *ngFor="let ss of s.specialist_specialties" class="inline-block bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-xs mr-1">
                {{ ss.specialty.name }}
              </span>
          </td>
          <td class="px-4 py-3">{{ s.user.dni }}</td>
          <td class="px-4 py-3 text-left">{{ s.user.email }}</td>
          <td class="px-4 py-3">{{ s.user.age }}</td>
          <td class="px-4 py-3">
            <span [ngClass]="{
              'bg-yellow-100 text-yellow-800': s.status === 'pendiente',
              'bg-green-100 text-green-800': s.status === 'habilitado',
              'bg-red-100 text-red-800': s.status === 'rechazado'
            }"
            class="px-3 py-1 rounded-full text-xs font-semibold capitalize">
              {{ s.status }}
            </span>
          </td>
          <td class="px-4 py-3 space-x-2">
            <button
              (click)="updateStatus(s.id, 'habilitado')"
              class="text-green-600 hover:underline text-sm"
              *ngIf="s.status !== 'habilitado'"
            >
              Habilitar
            </button>
            <button
              (click)="updateStatus(s.id, 'rechazado')"
              class="text-red-600 hover:underline text-sm"
              *ngIf="s.status !== 'rechazado'"
            >
              Rechazar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
