<div class="p-6 bg-white rounded-xl shadow-md">
  <h2 class="text-xl font-semibold mb-4 text-rose-700">Turnos Finalizados por Médico</h2>

  <div class="flex justify-center gap-4 mb-6">
    <label *ngFor="let option of ['7','14','30','all']">
      <input type="radio" name="range" [value]="option" [(ngModel)]="selectedRange" (change)="onRangeChange(option)" />
      <span class="ml-2 text-sm text-gray-700">
        {{ option === 'all' ? 'Mostrar todos' : 'Últimos ' + option + ' días' }}
      </span>
    </label>
  </div>

  <canvas id="doctorFinalizedChart"></canvas>
</div>