<nav class= "border-gray-200 bg-gradient-to-r from-blue-950 to-blue-800 fixed top-0 left-0 right-0 z-50 shadow-md">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="JB-Clinica.png" class="h-14" alt="Jb-clínica logo" />
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <ng-container *ngIf="user">
        <li class="relative list-none">
          <button
            id="userDropdownButton"
            data-dropdown-toggle="userDropdown"
            class="flex items-center gap-1 py-1 px-2 text-white rounded-lg hover:bg-blue-950 focus:outline-none group">
            <div class="w-8 h-8 rounded-full bg-gray-600 overflow-hidden flex items-center justify-center">
              <img *ngIf="user.profile_image_url" [src]="user.profile_image_url" class="w-full h-full object-cover" alt="user photo" />
            </div>
            <svg
              class="w-3 h-3 text-white transition-transform duration-200 group-data-[dropdown-open=true]:rotate-180"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l4 4 4-4"/>
            </svg>
          </button>

          <!-- Dropdown -->
          <div
            id="userDropdown"
            class="z-40 hidden absolute right-0 font-normal bg-gray-100 divide-y divide-blue-700 rounded-lg shadow w-32 mt-2">
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900">{{ user.first_name }}</span>
              <span class="block text-sm text-gray-500 truncate">{{ user.last_name }}</span>
            </div>
            <ul class="py-1 text-sm text-gray-900" aria-labelledby="userDropdownButton">
              <li *ngIf="user.user_type === 'specialist' || user.user_type === 'patient'">
                <a (click)="goToProfile()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Perfil</a>
              </li>
              <li *ngIf="user.user_type === 'patient' || user.user_type === 'specialist'">
                <a (click)="goToAppointment()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Mis Turnos</a>
              </li>
              <li *ngIf="user.user_type === 'specialist'">
                <a (click)="goToPatients()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Pacientes</a>
              </li>
              <li *ngIf="user.user_type === 'admin'">
                <a (click)="goToUserSection()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Sección Usuarios</a>
              </li>
              <li *ngIf="user.user_type === 'admin'">
                <a (click)="goToUserRegistration()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Registro de Usuarios</a>
              </li>
              <li>
                <button (click)="logout()" class="block w-full text-left px-4 py-2 hover:bg-gray-200">
                  Cerrar sesión
                </button>
              </li>
            </ul>
          </div>
        </li>
      </ng-container>

      <a *ngIf="!user" routerLink="/login" class="flex items-center gap-2 text-white md:hover:text-gray-300 font-medium">
        <i class="fas fa-right-to-bracket text-xl"></i>
        <span>Iniciar sesión</span>
      </a>

      <button data-collapse-toggle="navbar-user"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
              aria-controls="navbar-user"
              aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">        
        <li>
          <button type="button" (click)="goToServices()">
            <a class="block py-2 px-3 text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Servicios</a>
          </button>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Contacto</a>
        </li>
        <li *ngIf="user?.user_type === 'admin'">
          <a (click)="goToStatstics()" class="cursor-pointer block py-2 px-3 text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0">Estadisticas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
