<div class="min-h-screen flex items-center justify-center bg-white px-4">
  <form [formGroup]="form_login" (ngSubmit)="onSubmit()"
        class="w-full max-w-md p-6 bg-gray-50 border border-gray-200 drop-shadow-2xl shadow-md rounded space-y-5 text-center">
    
    <h2 class="text-2xl font-semibold text-blue-900 mb-4">Iniciar sesión</h2>

    <div>
      <input type="email" formControlName="email" placeholder="Email"
             class="w-full p-2 rounded bg-gray-100 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-800" />
      <div *ngIf="invalid('email')" class="text-red-800 text-sm mt-1">Email inválido.</div>
    </div>

    <div>
      <input type="password" formControlName="password" placeholder="Contraseña"
             class="w-full p-2 rounded bg-gray-100 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-800" />
      <div *ngIf="invalid('password')" class="text-red-800 text-sm mt-1">Mínimo 6 caracteres.</div>
    </div>

    <div *ngIf="loginError" class="text-red-800 text-sm">{{ loginError }}</div>

    <button type="submit"
            class="w-full bg-blue-900 hover:bg-blue-800 text-white font-semibold py-2 rounded">
      Iniciar sesión
    </button>

    <div class="md:flex justify-center gap-3 pb-2 grid grid-cols-3 place-items-center">
      <!-- PA -->
      <button (click)="quickLogin('goes@gmail.com', '123456')" class="rounded-full flex items-center justify-center">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/1749349421532-rodrygo_goes.png" alt="Foto paciente">
      </button> 
      <button (click)="quickLogin('melo@gmail.com', '123456')" class="rounded-full flex items-center justify-center">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/1749403230032-melo.jpg" alt="Foto paciente">
      </button>
      <button (click)="quickLogin('ayluagosboro81@gmail.com', 'hercules123')" class="rounded-full flex items-center justify-center">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/1749786969207-IMG_5719.jpeg" alt="Foto paciente">
      </button>

      <!-- ESPECIALISTA -->
      <button (click)="quickLogin('jpbushin@gmail.com', '123456')" class="rounded-full flex items-center justify-center">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/1749399204406-foto_perfil_especialista.webp" alt="Foto paciente">
      </button>
    
      <button (click)="quickLogin('9julian@gmail.com', '181222')" class="rounded-full flex items-center justify-cente">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/1749815582769-foto2_perfil_especialista.webp" alt="Foto admin">
      </button>

      <!-- AD -->
      <button (click)="quickLogin('jpcortez@gmail.com', 'jpbushin')" class="rounded-full flex items-center justify-center">
        <img class="rounded-full w-12 h-12 object-cover hover:scale-105 transition-transform" src="https://vzqiluwkmitkspcsliqa.supabase.co/storage/v1/object/public/perfiles/profile/Foto_admin.webp" alt="Foto admin">
      </button>
    </div>

    <p class="mt-4 text-sm text-gray-700">
      ¿Primera vez que ingresás?
      <a routerLink="/account" class="text-blue-800 font-medium hover:underline cursor-pointer">Registrate acá</a>
    </p>
  </form>
</div>
