<div class="min-h-screen flex items-center justify-center bg-white px-4 py-20">
  <form *ngIf="form_register"
        [formGroup]="form_register"
        (ngSubmit)="onSubmit()"
        class="w-full max-w-4xl p-6 bg-gray-50 border border-gray-100 drop-shadow-2xl shadow-md rounded space-y-4">
    <div class="flex items-center justify-center mb-4">
      <img src="JB_Clinica.png" class="h-14 mr-4" alt="Jb-clínica logo" />
      <span class="text-2xl font-semibold text-blue-900 mb-4">Registro Clinica online</span>
    </div>   
    <span></span>
    <div class="flex flex-col md:flex-row gap-8">
      
      <div class="flex-1 space-y-4">
        <input class="input" type="text" formControlName="first_name" placeholder="Nombre" />
        <div *ngIf="invalid('first_name')" class="text-red-800 text-sm mt-1">El nombre es requerido y solo puede contener letras.</div>

        <input class="input" type="text" formControlName="last_name" placeholder="Apellido" />
        <div *ngIf="invalid('last_name')" class="text-red-800 text-sm mt-1">El apellido es requerido y solo puede contener letras.</div>

        <input class="input" type="number" formControlName="age" placeholder="Edad" />
        <div *ngIf="invalid('age')" class="text-red-800 text-sm mt-1">
          Edad mínima: {{ userType === 'admin' || userType === 'specialist' ? 18 : 1 }} años.
        </div>

        <input class="input" type="text" formControlName="dni" placeholder="DNI" />
        <div *ngIf="invalid('dni')" class="text-red-800 text-sm mt-1">El DNI debe tener al menos 8 caracteres.</div>

        <input class="input" type="email" formControlName="email" placeholder="Email" />
        <div *ngIf="invalid('email')" class="text-red-800 text-sm mt-1">El email no es válido.</div>

        <input class="input" type="password" formControlName="password" placeholder="Contraseña" />
        <div *ngIf="invalid('password')" class="text-red-800 text-sm mt-1">Mínimo 6 caracteres.</div>
      </div>

      <div class="flex-1 space-y-4">
        <div class="mb-4">
          <label class="block font-medium mb-1">Imagen de perfil</label>
          <div class="flex items-center gap-2">
            <input type="text" [value]="profileImageFile?.name || 'Ningún archivo seleccionado'" readonly
                  class="flex-1 input bg-gray-100 text-gray-500"/>
            <button type="button" (click)="triggerFileInput('profile')" class="btn">Seleccionar archivo</button>
          </div>
          <div *ngIf="submitted && !profileImageFile" class="text-red-800 text-sm mt-1">Campo requerido.</div>
          <div *ngIf="profileImageError" class="text-red-800 text-sm mt-1">
            {{ profileImageError }}
          </div>
          <div class="text-gray-500 text-xs mt-1">
            Formatos válidos: JPG, PNG, WEBP (Máx. 2MB)
          </div>
        </div>

        <!-- Paciente -->
        <ng-container *ngIf="userType === 'patient'">
          <div class="mb-4">
            <label class="block font-medium mb-1">Segunda imagen de perfil</label>
            <div class="flex items-center gap-2">
              <input type="text" [value]="secondProfileImageFile?.name || 'Ningún archivo seleccionado'" readonly
                    class="flex-1 input bg-gray-100 text-gray-500"/>
              <button type="button" (click)="triggerFileInput('second')" class="btn">Seleccionar archivo</button>
            </div>
            <div *ngIf="submitted && !secondProfileImageFile" class="text-red-800 text-sm mt-1">Campo requerido.</div>
          </div>

          <input class="input" type="text" formControlName="health_medical" placeholder="Obra social" />
          <div *ngIf="invalid('health_medical')" class="text-red-800 text-sm mt-1">Campo requerido.</div>
        </ng-container>

        <!-- Especialista -->
        <ng-container *ngIf="userType === 'specialist'">
          <div>
            <label class="block font-medium mb-1">Especialidades</label>
            <div class="flex gap-2 mb-2">
              <select [(ngModel)]="selectedSpecialty" name="selectedSpecialty" class="input flex-1" [ngModelOptions]="{ standalone: true }">
                <option *ngFor="let spec of allSpecialties" [value]="spec.name">{{ spec.name }}</option>
              </select>
              <button type="button" (click)="addSpecialtyFromSelect()" class="btn">Agregar</button>
            </div>

            <div class="flex gap-2 mb-2">
              <input [(ngModel)]="newSpecialty" name="newSpecialty" class="input flex-1" placeholder="Nueva especialidad"
                    [ngModelOptions]="{ standalone: true }"/>
              <button type="button" (click)="addSpecialty()" class="btn">Agregar</button>
            </div>

            <div class="flex gap-2 flex-wrap">
              <span *ngFor="let sp of specialties.controls; let i = index" class="bg-blue-100 px-2 py-1 rounded flex items-center">
                {{ sp.value }}
                <button (click)="removeSpecialty(i)" class="text-red-800 ml-2 font-bold">✖</button>
              </span>
            </div>
          </div>
        </ng-container>

        <div class="mb-4">
          <ngx-recaptcha2 
            [siteKey]="NgxCaptchaModule"
            (success)="captchaResponse = $event"
            [size]="'normal'"
            [theme]="'light'"
            [hl]="'es'">
          </ngx-recaptcha2>
          
          <div *ngIf="submitted && !captchaResponse" class="text-red-600 text-sm mt-1">
            <i class="fas fa-exclamation-circle mr-1"></i> Debes completar la verificación "No soy un robot"
          </div>
        </div>

        <button class="bg-blue-900 hover:bg-blue-800 px-4 py-2 text-white rounded w-full justify-items-end" type="submit">
          Registrar
        </button>
      </div>
    </div>

    <!-- Inputs ocultos -->
    <input type="file" hidden #fileInputProfile (change)="handleImageUpload($event, 'profile')" accept="image/*" />
    <input type="file" hidden #fileInputSecond (change)="handleImageUpload($event, 'second')" accept="image/*" />

  </form>
</div>