<div class="relative z-20 py-8 px-6 md:px-12 lg:px-48">
  <div class="bg-white text-black rounded-3xl p-10 shadow-lg max-w-5xl mx-auto drop-shadow-lg">
    <div class="flex flex-col md:flex-row justify-between gap-4">
      <div>
        <h3 class="text-xl font-bold mb-2">Central de turnos</h3>
        <p class="text-black">Lunes a viernes: 8:00 a 19:00<br>Sábados: 8:00 a 14:00</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-2">Duración de turnos</h3>
        <p>La duración mínima: 30 minutos</p>
      </div>
      <div>
        <p class="text-black text-xl font-bold">Teléfono:</p>
        <p class="text-black">(123) 456-7890</p>
      </div>
    </div>
  </div>
</div>