<div class="min-h-screen">
  <app-carousel class="relative"></app-carousel>
  @if(isLoading){
    <div class="flex justify-center items-center h-64">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
    </div>
  }@if(!isLoading) {
    <div class="flex" id="services-section">
      <div class="mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center items-center">
        @for(image of page_images; track image.id) {
          <app-cards
            [url_img]="image.url_img"
            [description]="image.description">
          </app-cards>
        }
      </div>
    </div> 
  }
  
  <app-data-information></app-data-information>

  <app-separator></app-separator>
</div>


